# Remove duplicate entries

In [1]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

### Create DataFrame from dictionary

In [2]:
df = DataFrame({
    'name': ['Serban', 'Alex', 'Alex'], 
    'zip code': ['NW11_7HW', 'NW11_7HW', 'NW11_7HW'], 
    'age': ['28', '32', '32']
})
print(df)

     name  zip code age
0  Serban  NW11_7HW  28
1    Alex  NW11_7HW  32
2    Alex  NW11_7HW  32

### Search and compare for duplicate value entry

In [3]:
compare_duplicate_df = df.duplicated()
print(compare_duplicate_df)

0    False
1    False
2     True
dtype: bool

### Drop duplicate entry (row)

In [4]:
no_duplicates_df = df.drop_duplicates()
print(no_duplicates_df)

     name  zip code age
0  Serban  NW11_7HW  28
1    Alex  NW11_7HW  32

### Drop duplicate entry (row) if one column is the same

In [5]:
df = DataFrame({
    'name': ['Serban', 'Alex', 'Cristina'], 
    'zip code': ['NW11_7HW', 'NW11_7HW', 'NW11_7HW'], 
    'age': ['28', '33', '32'], 
    'sex': ['male', 'male', 'female']
})
print(df)

       name  zip code age     sex
0    Serban  NW11_7HW  28    male
1      Alex  NW11_7HW  33    male
2  Cristina  NW11_7HW  32  female

In [6]:
no_duplicates_df = df.drop_duplicates('sex')
print(no_duplicates_df)

       name  zip code age     sex
0    Serban  NW11_7HW  28    male
2  Cristina  NW11_7HW  32  female